# Python virtual environment
venv

# FFmpeg installation
ffmpeg-20200831-4a11a6f-win64-static

# This file contains the bot token
token.txt

# Credentials
Discord Dictionary Bot-7b83f44ab291.json
# Text to speech authentication token
Discord Dictionary Bot-437d190e03b8.json
