<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Discord Dictionary Bot</title>
        <link rel="stylesheet" href="../static/dark.css" type="text/css">
    </head>

    <body>

        <template id="chart_container_template">
            <div style="background-color: #303030; border-radius: 16px; margin: 16px; padding: 8px;">
                <canvas width="500" height="300" style="display: block; margin-bottom: 24px;"></canvas>
            </div>
        </template>

        <div style="text-align: center">
            <h1>Discord Dictionary Bot</h1>
            <h2>Usage Statistics</h2>
        </div>

        <div id="main_content" style="display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;">

        </div>

    </body>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.0/dist/chart.min.js"></script>
    <script src="../static/index.js"></script>
</html>