<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Discord Dictionary Bot</title>
        <link rel="stylesheet" href="../static/dark.css" type="text/css">
    </head>

    <body>

        <div style="text-align: center">
            <h1>Discord Dictionary Bot</h1>
            <h2>Usage Statistics</h2>
        </div>

        <template>
            <div id="card_template">

            </div>
        </template>

        <div style="display: flex; flex-direction: row; justify-content: center; ">

            <div id="daily_requests_container" style="background-color: #303030; border-radius: 16px; margin: 16px; padding: 8px;">
                <canvas id="requests_per_day_canvas" width="500" height="300" style="display: block; margin-bottom: 24px;"></canvas>
            </div>

            <div id="total_requests_container" style="background-color: #303030; border-radius: 16px; margin: 16px; padding: 8px;">
                <canvas id="total_requests_canvas" width="500" height="300" style="display: inline-block"></canvas>
            </div>

            <div id="active_guilds_container" style="background-color: #303030; border-radius: 16px; margin: 16px; padding: 8px;">
                <canvas id="active_guilds_canvas" width="500" height="300" style="display: inline-block"></canvas>
            </div>
        </div>

    </body>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.0/dist/chart.min.js"></script>
    <script src="../static/index.js"></script>
</html>