aiohttp==3.8.5
discord.py==2.3.2
pyNaCl==1.5.0
gTTS==2.3.2
google-cloud-firestore==2.12.0
google-cloud-texttospeech==2.14.1
google-cloud-bigquery==3.11.4
google-cloud-translate==3.12.0
beautifulsoup4==4.12.2
lxml==4.9.3
requests==2.31.0
