aiohttp==3.8.3
discord.py==2.1.0
pyNaCl==1.5.0
gTTS==2.3.0
google-cloud-firestore==2.7.3
google-cloud-texttospeech==2.12.3
google-cloud-bigquery==3.4.0
google-cloud-translate==3.8.4
beautifulsoup4==4.11.1
lxml==4.9.1
requests==2.28.1
