:root {
    --dark-gray: #303030;
}

* {
    color: whitesmoke;
    font-family: Calibri, sans-serif;
    user-select: none;
}

html {
    height: 100%;
}

body {
    background-color: #424242;
    margin: 0;
    height: 100%;
}

.button {
    background-color: mediumpurple;
    padding: 8px;
    margin: 16px 24px 24px 24px;
    text-align: center;
}

.button:hover {
    background-color: rebeccapurple;
    cursor: pointer;
}